<!DOCTYPE html>
<html>
<head>
  <title>BWHS - Admin</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="header-section">
  <% if current_admin %>
    Logged in as <%= current_admin.username %> [<%= link_to 'logout', admin_session_path(current_admin), method: :delete %>]
  <% end %>
</div>
<%= yield %>

</body>
</html>
